In [1]:
from torch.utils.data import DataLoader
import pandas as pd

from config import *
from dataset import CustomImageFolder
from utils import *

In [2]:
train_dataset = CustomImageFolder(root=args.train_dir)
train_loader = DataLoader(train_dataset, batch_size=1, shuffle=True)
label_dict = {0:"breed9", 1:"breed28", 2:"breed41", 3:"other"}
train_stats = {}
for i, (image, label, breed) in enumerate(train_loader):
    label = label.item()
    if label not in train_stats:
        train_stats[label] = 1
    if label in train_stats:
        train_stats[label] += 1

train_stats = dict(sorted(train_stats.items(), key = lambda x: x[0]))
train_stats = {label_dict[k]:v for k, v in train_stats.items()}
train_stats

{'breed9': 697, 'breed28': 690, 'breed41': 617, 'other': 34919}

In [3]:
test_dataset = CustomImageFolder(root=args.test_dir)
test_loader = DataLoader(test_dataset, batch_size=1, shuffle=True)

test_stats = {}
for i, (image, label, breed) in enumerate(test_loader):
    label = label.item()
    if label not in test_stats:
        test_stats[label] = 1
    if label in test_stats:
        test_stats[label] += 1
        
test_stats = dict(sorted(test_stats.items(), key = lambda x: x[0]))
test_stats = {label_dict[k]:v for k, v in test_stats.items()}
test_stats

{'breed9': 193, 'breed28': 209, 'breed41': 177, 'other': 10478}

In [4]:
train_df = pd.DataFrame(list(train_stats.items()), columns=["Rice breed", "Quantity"])
test_df = pd.DataFrame(list(test_stats.items()), columns=["Rice breed", "Quantity"])

In [14]:
total_quantity = train_df["Quantity"].sum()
train_df["Percentage"] = round((train_df["Quantity"] / total_quantity) * 100, 2)
train_df

  Rice breed  Quantity  Percentage
0     breed9       697        1.89
1    breed28       690        1.87
2    breed41       617        1.67
3      other     34919       94.57

In [13]:
total_quantity = test_df["Quantity"].sum()
test_df["Percentage"] = round((test_df["Quantity"] / total_quantity) * 100, 2)
test_df

  Rice breed  Quantity  Percentage
0     breed9       193        1.75
1    breed28       209        1.89
2    breed41       177        1.60
3      other     10478       94.76